@import '/src/styles.scss';

main {
  width: 100%;
  padding: 6.4rem 16rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: $typography;

  table {
    width: 100%;
    border-spacing: 0 0.5rem;
    font-size: 1.8rem;

    th {
      color: $text-ligth;
      font-weight: 400;
      padding: 1.2rem 2rem;
      text-align: left;
      line-height: 1.5rem;
    }

    td {
      padding: 1.2rem 2rem;
      border: 0;
      border-radius: .25rem;
      background: #ffffff;
      color: $text-ligth;
    }

    td:first-child {
      color: $text-dark;
    }
  }
}
