
<main>
  <div>
    <header>
      <p>Entradas</p>
      <img src="/assets/image/income.svg" alt="Entradas"/>
    </header>
    <strong>
      R$ 17.400,00
    </strong>
  </div>
  <div>
    <header>
      <p>Saídas</p>
      <img src="/assets/image/outcome.svg" alt="Saidas"/>
    </header>
    <strong>
      - R$ 1.259,00
    </strong>
  </div>
  <div class="card-total">
    <header>
      <p>Total</p>
      <img src="/assets/image/total.svg" alt="Total "/>
    </header>
    <strong>
      R$ 16.141,00
    </strong>
  </div>
</main>
